footer {
    background-color: $almostBlack;
    padding: 2.5rem 1.8rem;
    color: white;

    h2 {
        margin-top: 0;
        margin-bottom: 2rem;
        font-family: 'Big Shoulders Display', cursive; 
    }
    p {
        font-family: 'Outfit', sans-serif;
        font-size: $font-med;
        line-height: 1.8;
        margin-bottom: 2rem;
    }
    .social_network {
            img:not(:last-child) {
                margin-right: 1rem;
        }
    }
}