#third_section {
    .img_mobile {
    margin-bottom: 0.60rem;
}
}

@media (min-width: 40rem) and (max-width: 63.9375rem) { 
    #third_section {
        margin-bottom: 8rem;
        img:nth-child(2) {
            padding-top: 1rem;
        }
        img:nth-child(5) {
            float: right;
            padding: 1rem 0 1rem 1rem;
        }
    }
}

