html {
    height: 100%;
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}
body {
    // background-image:url("../../image/mobile/image-map@2x.png");
    // background-repeat: no-repeat;
    // background-size: cover;
    margin: 0;
}

a, a:visited, a:hover {
    text-decoration: none
}

img {
    display: block;
}